.card {
  height: fit-content;
  background: rgb(80, 98, 105);
  color: aliceblue;
  margin: 20px;
}

.num-display {
  display: flex;
  position: relative;
  top: -40px;
  left: -35px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding-left: 13px;
  padding-top: 8px;
  background: rgb(180, 85, 85);
}
