.bodycont {
  background-color: rgb(66, 34, 209);
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  padding: 2rem;
  border-radius: 6px;
  height: min-content;
}
.rating {
  font-size: 30px;
  color: rgb(75, 85, 85);
}
